$page-background-color : #f3f3f3;

$area-background-color : #ffffff;
$area-header-color : #fafafa;
$area-border-color : #f0f0f0;

$table-border-color : #dddddd;

$text-color-1st : #000000;
$text-color-2nd : #545454;

$text-color-R : #ff272a;
$text-color-G : #26943b;
$text-bgcolor-R : #fff6f6;
$text-bgcolor-G : #f6fff6;

$area-color-R : #fc5b57;
$area-color-G : #57c038;



// $page-background-color : #1e2430;

// $area-background-color : #323f52;
// $area-header-color : #2b3846;
// $area-border-color : #2b3846;

// $table-border-color : #dddddd;

// $text-color-1st : #eddaa8;
// $text-color-2nd : #f6ebd1;

// $text-color-R : #ff272a;
// $text-color-G : #26943b;
// $text-bgcolor-R : #dc5132;
// $text-bgcolor-G : #54c1b4;

// $area-color-R : #fc5b57;
// $area-color-G : #57c038;

